.info-title {
    padding: 0 15px;
    font-weight: 500;
    margin: 0px 0px;
    font-size: 1.4em !important;
    line-height: 1.5em !important;
}

.info-title.sub {
    color: indianred;
    font-size: 1.2em !important;
    line-height: 1.4em !important;
}

.info-padd {
    padding: 12px 0px !important;
    color: white !important;
}