<div id="contacts"  class="features-6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-title text-white">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Entrar em contato</font>
                    </font>
                </h2>
                <h3 class="text-description">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> Vamos conversar sobre seu projeto?
                        </font>
                    </font>
                </h3>
                <br>
                <div class="info info-horizontal info-padd ">
                    <div class="icon icon-white">
                        <i class="now-ui-icons tech_mobile"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title white">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ligue ou mande whats</font>
                            </font>
                        </h4>
                        <p class="info-title  sub">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">+55 79 99670-2102 </font>
                            </font><br>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">+55 79 99907-7338 </font>
                            </font>
                        </p>
                    </div>

                </div>

                <div class="info info-horizontal info-padd ">
                    <div class="icon icon-white">
                        <i class="now-ui-icons ui-1_email-85"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title white">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Envie um email</font>
                            </font>
                        </h4>
                        <p class="info-title  sub">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">elderjsales@gmail.com </font>
                            </font><br>
                        </p>
                    </div>
                </div>

                <div class="info info-horizontal info-padd ">
                    <div class="icon icon-white">
                        <i class="now-ui-icons location_pin"></i>
                    </div>
                    <div class="description ">
                        <h4 class="info-title white">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Agende uma visita no escritório.</font>
                            </font>
                        </h4>
                        <p class="info-title sub">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Rua Benício Freire, 71 </font>
                            </font><br>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Itabaianinha, SE, 49290-000 </font>
                            </font>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card card-contact card-raised">
                    <form role="form" id="contact-form1" method="post">
                        <div class="card-header text-center">
                            <h3 class="card-title">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Contate-nos</font>
                                </font>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 pr-2">
                                    <label>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Primeiro nome</font>
                                        </font>
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="now-ui-icons users_circle-08"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Primeiro nome..."
                                            aria-label="Primeiro nome..." autocomplete="given-name">
                                    </div>
                                </div>
                                <div class="col-md-6 pl-2">
                                    <div class="form-group">
                                        <label>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Sobrenome</font>
                                            </font>
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="now-ui-icons text_caps-small"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Sobrenome..."
                                                aria-label="Sobrenome..." autocomplete="family-name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Endereço de email</font>
                                    </font>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="E-mail aqui..."
                                        autocomplete="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Sua mensagem</font>
                                    </font>
                                </label>
                                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    eu não sou um robô
                                                </font>
                                            </font>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-danger btn-round pull-right">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Enviar mensagem</font>
                                        </font>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>