<div id="about" class="features-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="text-title text-white">Somos...</h2>
                <h3  class="text-description">INNTI, uma empresa que desenvolve soluções digitais para potencializar seu
                    negócio.<br>
                    Nossa equipe está pronta para lhe atender através de um processo preciso e
                    objetivo.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info info-hover">
                    <div class="icon icon-success icon-circle">
                        <i class="now-ui-icons users_single-02"></i>
                    </div>
                    <h5 class="info-title white text-padd">Entendimento</h5>
                    <p  class="about">Entendemos a ideia e o perfil do cliente, para que o projeto seja
                        eficiente e de acordo ao seu negócio.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-hover">
                    <div class="icon icon-info icon-circle">
                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                    </div>
                    <h5 class="info-title white text-padd">Necessidades</h5>
                    <p class="about">Nesse momento identificamos as necessidades de forma objetiva e
                        detalhada, que facilita na análise das soluções.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-hover">
                    <div class="icon icon-primary icon-circle">
                        <i class="now-ui-icons business_bulb-63"></i>
                    </div>
                    <h5 class="info-title white text-padd">Proposta</h5>
                    <p  class="about">Após a análise de diversas soluções, das simples as mais inovadoras,
                        apresetamos as melhores soluções para seu projeto.</p>
                </div>
            </div>
            <div class="container">
                <br>
                <button _ngcontent-c3="" class="btn btn-primary btn-round" type="button">Marque uma reunião</button>
            </div>
            
        </div>
    </div>
</div>
