<div class="features-6" style="background-image: url('assets/img/back_services.png');">
    <div id="services" class="container container-services">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="text-title ">Fazemos...</h2>
                <h3  class="text-description">soluções modernas e flexíveis para uma transformação digital da sua ideia. </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon ">
                        <i class="now-ui-icons design-2_html5"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title black">
                            <font style=" vertical-align: inherit;">Sites</font>
                        </h5>
                        <p>
                            <font style=" vertical-align: inherit;  ">Tenha um site para divulgar seu negócio e impulsionar ainda mais as vendas da sua empresa. </font> 
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon ">
                        <i class="now-ui-icons tech_mobile"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title black">
                            <font style=" vertical-align: inherit;">Aplicativos</font>
                        </h5>
                        <p>
                            <font style=" vertical-align: inherit;  ">Com um APP torne suas experiências personalizadas e processos automatizados. </font>
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon ">
                        <i class="now-ui-icons design_bullet-list-67"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title black">
                            <font style=" vertical-align: inherit;">Sistemas WEB</font> 
                        </h5>
                        <p>
                            <font style=" vertical-align: inherit;  ">Adquira um sistema WEB para todos os tipos de dispostivos, solucionando as necessidades da sua empresa. </font>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="phone-container">
                    <img src="assets/img/mobile.png">
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon ">
                        <i class="now-ui-icons objects_spaceship"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title black">
                            <font style=" vertical-align: inherit;">Marketing de Conteúdo</font>
                        </h5>
                        <p>
                            <font style=" vertical-align: inherit;  ">Além de impulsionar seu plano de marketing, amplie sua rede de vendas com ferramentas de otimização. </font>
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon ">
                        <i class="now-ui-icons business_briefcase-24"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title black">
                            <font style=" vertical-align: inherit;">Consultoria</font>
                        </h5>
                        <p>
                            <font style=" vertical-align: inherit;  ">Oferecemos uma consultoria especializada para otimizar seu projeto digital. </font>
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon ">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title black">
                            <font style=" vertical-align: inherit;">Suporte TI</font>
                        </h5>
                        <p>
                            <font style=" vertical-align: inherit;  ">Disponibilizamos um suporte técnico em software e hardware para seus computadores e notebooks. </font>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>