<footer class="footer">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="credits">
                <a class="copyright" href="#inicio">
                    <img src="assets/img/innti-name-logo.png" style="width: 120px;" alt="">
                </a>
            </div>
            <div class="credits  ml-auto">
                <ul >
                    <li><a >INNTI © {{test | date: 'yyyy'}} | TODOS OS DIREITOS RESERVADOS</a></li>
                    <!-- <li><a href="">Blog</a></li>
                    <li><a href="">Licenses</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
